<div class="container"> 
      <div class="row"> 
      	<div class="col-lg-9">
          <diV class="about1">
            <h2>Welcome to 📗Bookers!</h2>
         </diV>
        </div>
        <div class="col-lg-3">
         <diV class="about2">
           <p>CopyRight Infratop.inc</p>
        </diV>
       </div>
      </div>
  </div>